{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Connexion | Commande poulet oeuf SEDIMA</title>

		<!-- BEGIN META -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="your,keywords">
		<meta name="description" content="Short explanation about this website">
		<!-- END META -->
		<link rel="icon" type="image/png" href="{% static 'img/sedima.png' %}">

		<!-- BEGIN STYLESHEETS -->
		<link href='https://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
		<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'css/materialadmin.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'css/material-design-iconic-font.min.css' %}" />
		<!-- END STYLESHEETS -->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script type="text/javascript" src="../../assets/js/libs/utils/html5shiv.js?1403934957"></script>
		<script type="text/javascript" src="../../assets/js/libs/utils/respond.min.js?1403934956"></script>
		<![endif]-->
	</head>
	<body class="menubar-hoverable header-fixed " oncontextmenu="return false;">

		<!-- BEGIN LOGIN SECTION -->
		<section class="section-account">

			<!--<div class="spacer"></div>-->
			<div class="card contain-sm style-transparent" style="max-width:450px">
				<div class="card-body">
                    <h2 class="text-center" style="font-size: 40px; margin-bottom: 20px; color: #f70b0b"><div><img width="223" height="114" src="{% static 'img/sedima.png'%}" alt="" data-orig-size="223,114"/></div></h2>
					<br/>
					<div class="card">
						<div class="card-body">
							<span class="text-lg text-bold text-primary">Bienvenue dans Niokobokk </span>
							<br/><br/>

            {% if messages %}
                {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-{{ message.tags }} text-center" role="alert"{% endif %}>
      					<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
						{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Erreur: {% endif %}

                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
      <form action="{% url 'accounts:login' %}" method="POST">
        {% csrf_token %}
          <div class="form-group">
			 <input type="email" class="form-control" placeholder="Email Address" name="email" required> 
          </div> <!-- form-group// -->
          <div class="form-group">
			<input type="password" class="form-control" placeholder="Password" name="password" required>
          </div> <!-- form-group// -->

          <div class="form-group">
          	<a href="{% url 'accounts:forgotPassword' %}" class="float-right">Mot de passe oublié?</a>
          </div> <!-- form-group form-check .// --> 

          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">Connexion</button>
          </div> <!-- form-group// -->
      </form>
						</div>
					</div>
				</div><!--end .card -->
			</div>
			<em class="text-caption text-center" style="margin-bottom: 0px">Copyright © {% now 'Y' %} CAPITECH</em>
            <p class="text-center">BY <strong><span style="color: green">Pape Ibrahima</span><span style="color:red"> DIAWARA</span></strong></p>
		</section>
		<!-- END LOGIN SECTION -->

		<!-- BEGIN JAVASCRIPT -->
		<script src="{% static 'js/libs/jquery/jquery-1.11.2.min.js' %}"></script>
		<script src="{% static 'js/libs/bootstrap/bootstrap.min.js' %}"></script>

		<script src="{% static 'js/core/AppForm.js' %}"></script>
		<!-- END JAVASCRIPT -->

	</body>
</html>
