.example {
    justify-content: left;
    align-items: left;
    text-align: left;
  }
  
.toast-alert {
    max-width: 450px;
    overflow: hidden;
    font-size: 0.875rem;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 6px solid;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    opacity: 0;
    border-radius: 0.25rem;
  }
  .toast-alert:not(:last-child) {
    margin-bottom: 0.75rem;
  }
  .toast-alert.showing {
    opacity: 1;
  }
  .toast-alert.show {
    display: block;
    opacity: 1;
  }
  .toast-alert.hide {
    display: none;
  }
  
  .toast-header-alert {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.25rem 0.75rem;
    background-clip: padding-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  
  /* Bootstrap alert coloring */
  .toast-alert.alert-primary {
    border-color: #004085;
  }
  .toast-alert.alert-primary .close  {
    color: #004085;
    opacity: .75;
  }
  .toast-alert.alert-secondary {
    border-color: #383d41;
  }
  .toast-alert.alert-secondary .close  {
    color: #383d41;
    opacity: .75;
  }
  .toast-alert.alert-success {
    border-color: #155724;
  }
  .toast-alert.alert-success .close  {
    color: #155724;
    opacity: .75;
  }
  .toast-alert.alert-info {
    border-color: #0c5460;
  }
  .toast-alert.alert-info .close  {
    color: #0c5460;
    opacity: .75;
  }
  .toast-alert.alert-warning {
    border-color: #856404;
  }
  .toast-alert.alert-waring .close  {
    color: #856404;
    opacity: .75;
  }
  .toast-alert.alert-danger {
    border-color: #721c24;
  }
  .toast-alert.alert-danger .close  {
    color: #721c24;
    opacity: .75;
  }
  .toast-alert.alert-light {
    border-color: #818182;
  }
  .toast-alert.alert-light .close  {
    color: #818182;
    opacity: .75;
  }
  .toast-alert.alert-dark {
    border-color: #1b1e21;
  }
  .toast-alert.alert-dark .close  {
    color: #1b1e21;
    opacity: .75;
  }
  
  /* Toast container locations  */
  .toast-top-center {
    top: 12px;
    right: 0;
    width: 100%;
  }
  .toast-bottom-center {
    bottom: 0;
    right: 0;
    width: 100%;
  }
  .toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%;
  }
  .toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%;
  }
  .toast-top-left {
    top: 12px;
    left: 12px;
  }
  .toast-top-right {
    top: 12px;
    right: 12px;
  }
  .toast-bottom-right {
    right: 12px;
    bottom: 12px;
  }
  .toast-bottom-left {
    bottom: 12px;
    left: 12px;
  }
  
  #toast-alert-container {
    position: fixed;
    z-index: 999999;
    pointer-events: none;
    /*overrides*/
  }
  #toast-alert-container * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #toast-alert-container > div {
    position: relative;
    pointer-events: auto;
    overflow: hidden;
    margin: 0 0 6px;
    width: 400px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    -moz-box-shadow: 0 0 12px #999999;
    -webkit-box-shadow: 0 0 12px #999999;
    box-shadow: 0 0 12px #999999;
  }
  #toast-alert-container > div.rtl {
    direction: rtl;
    padding: 15px 50px 15px 15px;
    background-position: right 15px center;
  }
  #toast-alert-container > div:hover {
    -moz-box-shadow: 0 0 12px #000000;
    -webkit-box-shadow: 0 0 12px #000000;
    box-shadow: 0 0 12px #000000;
  }
  #toast-alert-container.toast-top-center > div,
  #toast-alert-container.toast-bottom-center > div {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  #toast-alert-container.toast-top-full-width > div,
  #toast-alert-container.toast-bottom-full-width > div {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
  }
  /*Responsive Design*/
  @media all and (max-width: 240px) {
    #toast-alert-container > div {
      width: 11em;
    }
    #toast-alert-container > div.rtl {
    }
    #toast-alert-container .toast-close-button {
      right: -0.2em;
      top: -0.2em;
    }
    #toast-alert-container .rtl .toast-close-button {
      left: -0.2em;
      right: 0.2em;
    }
  }
  @media all and (min-width: 241px) and (max-width: 480px) {
    #toast-alert-container > div {
      width: 18em;
    }
    #toast-alert-container > div.rtl {
    }
    #toast-alert-container .toast-close-button {
      right: -0.2em;
      top: -0.2em;
    }
    #toast-alert-container .rtl .toast-close-button {
      left: -0.2em;
      right: 0.2em;
    }
  }
  @media all and (min-width: 481px) and (max-width: 768px) {
    #toast-alert-container > div {
      width: 25em;
    }
    #toast-alert-container > div.rtl {
    }
  }